.navbar{
    display:flex;
    flex-direction:row;
    background-color: rgb(82, 154, 123);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height:2rem;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.logo{
    /* padding-top: 1.2rem;
    padding-left: 3.2rem; */
    /* align-self: center; */
    width: 100%;
    padding-left: 1.2rem;
}
.nav-ul{
    /* padding-top: 1.2rem;
    padding-left: 45.2rem; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-li{
    list-style: none;
    /* display: inline-block;
    padding-right: 7.2rem; */
    display: block;
    padding:1.2rem;
    /* display:none; */
}
.nav-li:hover{
    background-color: aliceblue;
}
.toggle-btn{
    position:absolute;
    width:30px;
    height:20px;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    top:.2rem;
    right:1rem;

}
.toggle-btn .bar{
    background-color: white;
    height:3px;
    width: 100%;
    border-radius:10px;
}
@media (max-width:600px) {
    .toggle-btn{
        display: flex;
    }
    .toggle-btn.active #a1{
        opacity:1;
       
        transform: translateY(8px) rotate(45deg);
    }
    .toggle-btn.active #a2{
        opacity:0;
        
       
    }
    .toggle-btn.active #a3{
       opacity:1;
      
       transform: translateY(-8px) rotate(-45deg);
    }
    

    
    .navbar.active{
        display: flex;
        flex-direction:column;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height:inherit;
    }
    .nav-ul.active{
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        width: 100%;
    }
    .nav-li.active{
        padding:0.2rem;
        display:block;
        text-align: center;
        font-size: smaller;
    }
    .nav-li{
        display:none;
    }
 
  

}